@import "../../global.scss";

.portfolio {
  background-color: $tertiaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 4rem;
    overflow: hidden;

    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      margin-right: 10px; /* Added margin right for better spacing between items */
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 30%;
      height: 45%;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $tertiaryColor;
      position: relative;
      transition: all 0.5s ease;
      overflow: hidden;
      cursor: pointer;

      @include mobile {
        width: 130px;
        height: 100px;
        margin: 10px; /* Adjusted margin for better spacing */
      }

      h3 {
        position: absolute;
        font-size: 4rem;

        @include mobile {
          font-size: 1.5rem; /* Adjusted font size for better readability */
        }
      }

      img {
        width: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}