@import "../../global.scss";

.portfolioList {
  font-size: 1rem;
  margin-right: 50px;
  padding: 7px;
  overflow: hidden;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: $tertiaryColor;
  }
}
