@import "../../global.scss";

.contact {
  background-color: $tertiaryColor;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      width: 100%; /* Adjusted height to width for better responsiveness */
      object-fit: cover; /* Ensure the image covers its container */
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 2rem;
      padding-bottom: 20px;
    }

    .hidden {
      display: none;
    }

    form {
      width: 80%; /* Adjusted width for better responsiveness */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      @include mobile {
        width: 100%; /* Full width on mobile */
      }

      input,
      textarea {
        width: 100%; /* Full width for inputs and textarea */
        height: 4rem; /* Adjusted height for better visibility */
        font-size: 1rem;
        padding: 1rem;
        margin: 1rem;
        border-radius: 10px;
        border: 0;

        &:focus {
          outline: none;
        }
      }

      textarea {
        height: 10rem; /* Adjusted height for textarea */
      }
    }

    button {
      width: 20%;
      height: 4rem; /* Adjusted height for better visibility */
      color: $tertiaryColor;
      background-color: $secondaryColor;
      border: none;
      border-radius: 10px;
      font-weight: 500;
      font-size: 1rem;
      margin: 1rem;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      @include mobile {
        width: 10rem;
        height: 3rem; /* Adjusted height for better visibility on mobile */
      }
    }

    span {
      color: green;
    }
  }
}