@import "../../global.scss";

.intro {
  background-color: $tertiaryColor;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 85vw;
      height: 85vw;
      background-color: $secondaryColor;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      @include mobile {
        align-items: flex-start;
        width: 140vw;
        height: 140vw;
      }

      img {
        height: 90%;

        @include mobile {
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 5rem;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.6rem;

        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: $accentColor1;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      .icon {
        font-size: 5rem;
        color: $mainColor;
        animation: arrowBlink 5s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
